<div class="product-snap-card">
  <div class="item">
    <img [src]="product.picture" [alt]="product.name">
    <h2>{{product.name}}</h2>
    <h3>Specifications</h3>
    <p>Color : {{product.specifications.color}}</p>
    <p>Weight : {{product.specifications.weight}}</p>
    <p>Storage : {{product.specifications.storage}}</p>
    <p>Price : {{product.specifications.price}}</p>

  </div>

  <button class="button " (click)="addItem({$event : $event, product : product})">Add to Cart</button>
  <button class="button " (click)="removeItem({$event : $event, product : product})">Remove item</button>
  <div *ngIf="localStorage.getItem(product.name)!">
    <p>Quantity : {{localStorage.getItem(product.name)}}</p>
  </div>
</div>