<div>
  <p>Airpods : {{sessionStorage.getItem("Airpods")}}</p>
  <p>iphone12 : {{sessionStorage.getItem("iPhone 12")}}</p>
  <p>iphone14: {{sessionStorage.getItem("Phone 14")}}</p>

<body>
  <table class="table">
    <tr>
      <th>Product</th>
      <th>Picture</th>
      <th>Specifications</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Modify</th>
    </tr>
    <tr>
      <td>Airpods</td>
    </tr>
    <tr>
      <td>{{sessionStorage.getItem("Airpods")}}</td>
    </tr>
    <tr>
      <td>{{subtotal()}}</td>
    </tr>
  </table>
</body>
</div>
