<div>
  <p>Airpods : {{localStorage.getItem("Airpods")}}</p>
  <p>iphone12 : {{localStorage.getItem("iPhone 12")}}</p>
  <p>iphone14: {{localStorage.getItem("Phone 14")}}</p>

<body>
  <table class="table">
    <tr>
      <th>Product</th>
      <th>Picture</th>
      <th>Specifications</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Modify</th>
    </tr>

    <tr *ngFor="let productT of allStorage()">
      <td>{{productT}}</td>
    </tr>
    <tr>
      <td>{{localStorage.getItem("Airpods")}}</td>
    </tr>
    <tr>
      <td>{{subtotal()}}</td>
    </tr>
  </table>
</body>
  <div>
    <h4>Your order</h4>
<!--    <p *ngFor="let product of allStorage()">{{product}}</p>-->
  </div>
  <p></p>
</div>
