
<div class="container">

  <section id="cart"> 
<app-list-cart *ngFor="let product of products" [product]="product"></app-list-cart>
  </section>

</div>

<footer id="site-footer">
  <div class="container clearfix">

    <div class="left">
      <h2 class="subtotal">Subtotal: <span>163.96</span>€</h2>
      <h3 class="tax">Taxes (5%): <span>8.2</span>€</h3>
      <h3 class="shipping">Shipping: <span>5.00</span>€</h3>
    </div>

    <div class="right">
      <h1 class="total">Total: <span>177.16</span>€</h1>
      <a class="btn">Checkout</a>
    </div>

  </div>

</footer>