<article class="product">
    <header>
        <img [src]="product.picture" [alt]="product.name">

    </header>

    <div class="content">

        <h1>{{product.name}}</h1>
        <h3>Specifications : </h3>
        <div class="specifications">
            <p>🎨 Color : {{product.specifications.color}}</p>
            <p>🏋️ Weight : {{product.specifications.weight}}</p>
            <p>💾 Storage : {{product.specifications.storage}}</p>
        </div>
    </div>

    <footer class="content">
        <span class="qt-plus " (click)="removeItem({$event : $event, product : product})">-</span>
        <span class="qt" *ngIf="sessionStorage.getItem(product.name)!">{{sessionStorage.getItem(product.name)}}</span>
        <span class="qt-plus " (click)="addItem({$event : $event, product : product})">+</span>

        <h2 class="full-price">
            53.99 €
          </h2>

          <h2 class="price">
           {{product.specifications.price}} €
          </h2>
    </footer>
</article>

